{% extends 'layout.html.twig' %}

{% block content %}
    <div class="white-box">
        <h3 class="box-title box-form">Editar conta a receber</h3>
        <br>
        <div class="row box-form">
            {% set action = route('bill-receives.update',{'id': bill.id}) %}
            {% set submitIcon = 'pencil' %}
            {% include 'bill-receives/_form.html.twig' %}
        </div>
    </div>
{% endblock %}