{% extends 'layout.html.twig' %}

{% block content %}
    <div class="white-box">
        <h3 class="box-title box-form">Nova conta a pagar</h3>
        <br>
        <div class="row box-form">
            {% set action = route('bill-pays.store') %}
            {% set submitIcon = 'floppy-disk' %}
            {% include 'bill-pays/_form.html.twig' %}
        </div>
    </div>
{% endblock %}