{% extends 'layout.html.twig' %}

{% block content %}
    <div class="white-box">
        <h3 class="box-title box-form">Editar conta a pagar</h3>
        <br>
        <div class="row box-form">
            {% set action = route('bill-pays.update',{'id': bill.id}) %}
            {% set submitIcon = 'pencil' %}
            {% include 'bill-pays/_form.html.twig' %}
        </div>
    </div>
{% endblock %}