{% extends 'layout.html.twig' %}

{% block content %}
    <div class="white-box">
        <h3 class="box-title box-form">Ver categoria de custo
            <div class="pull-right">
                <a href="{{ route('category-costs.edit',{'id': category.id}) }}"
                    class="btn btn-primary">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Editar
                </a>
                <a href="{{ route('category-costs.delete',{'id': category.id}) }}"
                    class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                    Remover
                </a>
            </div>
        </h3>
        <br>
        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">#</th>
                        <td>{{ category.id }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Nome</th>
                        <td>{{ category.name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}