{% extends 'layout.html.twig' %}

{% block content %}
    <div class="white-box">
        <h3 class="box-title box-form">Novo usuário</h3>
        <br>
        <div class="row box-form">
            {% set action = route('users.store') %}
            {% set submitIcon = 'floppy-disk' %}
            {% include 'users/_form.html.twig' %}
        </div>
    </div>
{% endblock %}