{% extends 'layout.html.twig' %}

{% block content %}
    <div class="white-box">
        <h3 class="box-title box-form">Editar usuário</h3>
        <br>
        <div class="row box-form">
            {% set action = route('users.update',{'id': user.id}) %}
            {% set submitIcon = 'pencil' %}
            {% include 'users/_form.html.twig' %}
        </div>
    </div>
{% endblock %}